{% extends 'base.html'%}
{% load crispy_forms_tags %}

{%block content%}
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->



    <!--main content start-->
    <section id="main-content" class="center">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Add Employee</h3>
        <!-- BASIC FORM ELELEMNTS -->
        <div class=".col-md-1">
          <div class=".col-xs-12 .col-sm-6 .col-md-8">
            <h4 class="title">Please Enter Employee Details</h4>
            <div id="message"></div>

    <form action='ladd' method="POST" enctype="multipart/form-data" >
    {% csrf_token %}        
    <div class="container">
    <div class="row">
    <div class="col-4">
    {{form.employee|as_crispy_field}}
    </div>
    <div class="col-4">
    {{form.type|as_crispy_field}}
    </div>
    </div>
    <div class="row">
    <div class="col-4">
    {{form.from_date|as_crispy_field}}
    </div>
    <div class="col-4">  
    {{form.to_date|as_crispy_field}}
    </div>
    </div>
    <div class="row">
    <div class="col-8">
    {{form.reason|as_crispy_field}}
    </div>      
    </div>
    <button type="submit" class="btn btn-round btn-info">Save</button>
  </form>
          </div>      
        </div>
      </section>
      </section>

    {%endblock content%}